<table class='table table-hover table-inverse'>
  <thead>
    <tr>
      <th></th>
      <th>Title</th>
      <th>Opinion</th>
      <th colspan="3"></th>
    </tr>
  </thead>
  <tbody>
    <% @books.each do |book| %>
      <tr>
        <td><%= link_to user_path(book.user) do %>
          <%= image_tag book.user.get_profile_image, size:'50x50' %>
          <% end %>
        </td>
        <td><%= link_to book_path(book) do %><%= book.title %><% end %></td>
        <td><%= book.body %></td>
    
        <td class="favorite-btn<%= book.id %>">
          <%= render 'favorites/favorite-btn',book: book %>
        </td>
        
        <!--<td>-->
        <!--  <div id="post_raty"></div>-->
        <!--    <script>-->
            <!--// scriptファイルをどのidの部分に配置するかを指定-->
        <!--    let elem = document.querySelector('#post_raty');-->
        <!--    console.log(elem)-->
        <!--    let opt = {  -->
              <!--//星画像の指定などのオプションをここに記述,-->
        <!--        size     : 36,-->
        <!--        starOff:  '<#%= asset_path('star-off.png') %>',-->
        <!--        starOn : '<#%= asset_path('star-on.png') %>',-->
        <!--        starHalf: '<#%= asset_path('star-half.png') %>',-->
        <!--        scoreName: 'book[rating]',-->
        <!--        half: true,-->
        <!--    };-->
        <!--    raty(elem,opt);-->
        <!--    </script>-->
        <!--</td>-->
        
        <td><%= link_to "コメント数:#{book.book_comments.count}", book_path(book.id) %></td>
      </tr>
      <% end %>
  </tbody>
</table>